.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 5% 0;
  position: relative;
  overflow-y: hidden;
}

*{
  font-family: "Nunito";
}

@media screen and (max-width: 720px){

  *{
    font-size: 0.95em;
  }
    
}
