.content{
    margin: auto;
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.664);
    box-shadow: 8px 8px rgba(230, 102, 28, 0.349);
    height: 90%;
    display: flex;
    border-radius: 10px;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.3);
}

.infos{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.664);
    background-color: rgba(255, 255, 255, 0.450);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoContent{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.infoContent input{
    border: none;
    height: 8%;
    background: transparent;
    color: black;
    border-bottom: 2px solid black;
}

.infoContent input, label{
    margin-top: 2%;
}

